.blockInsc {
    margin: auto;
    width: 80%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 2%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.blockGaucheInsc{
    display: block;
    padding-right: 5%;
}

.blockDroitInsc {
    display: block;
    padding: 2%;
    width: 20%;
    text-align: center;
    
}

.logoInsc {
    display: block;
}

.blockButton {
    justify-items: unset;
}
