.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 200px;
  margin-left: 35%;
}

.imgHeader {
  margin-left: 35%;
}

.App-header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 200px;
  padding: 0px;
  display: flex;
}

.App-Menu {
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logoInscription {
  height: 300px;
}

.blockTitle {
  display: flex;
  justify-content: center;
}

.App-header:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blockInscription {
  vertical-align: top;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.blockGauche {
  width: 33%;
}

.blockCentrale {
  width: 33%;
}

.block1{
  width: 10%;
}

.block2{
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.toggle {
  width: 50%;
  margin: auto;
}

.blockButton {
  display: flex;
  width: 50%;
  margin-left: 25%;
  justify-content: space-around;
}

.blockMyProfil {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.photoProfil {
  width: 100px;
  height: 100px;
}

.buttonMenu {
  margin: 10px;
}

.block1Home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.block2Home {
  margin: 10px;
  width: 33%
}

.block3Home {
  margin: 10px;
  width: 33%
}

.blockMap {
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 600px;
  width: 75%;
}

.blockMap:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blockConnexion {
  display: block;
}

.tableauListGenre {
  display: flex;
}

.buttonGenreMusique {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  min-width: 120px;
  color: white;
  min-height: 120px;
  margin: 10px;
}

.buttonGenreMusique:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.messageInscription {
  height: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 2s cubic-bezier(.25,.8,.25,1);
  margin: auto;
  width: 15%;
}